#!/usr/bin/make -f

srctree ?= .

build-indep:
build-arch:
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+0bd16bd47287e882613f5290e8db4a150d50b3ac-1 -f $(srctree)/Makefile am62x_var_defconfig
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+0bd16bd47287e882613f5290e8db4a150d50b3ac-1 -f $(srctree)/Makefile

build: build-arch

binary-indep:
binary-arch: build-arch
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+0bd16bd47287e882613f5290e8db4a150d50b3ac-1 -f $(srctree)/Makefile intdeb-pkg

clean:
	rm -rf debian/files debian/linux-*
	$(MAKE) clean

binary: binary-arch
